* {
    box-sizing: border-box;
  }
  
  html, body, #root {
    margin: 0;
    height:100%;
  }

  iframe {
      height: 100% !important;
      display: block;
      border: 0;
  }
  
  .app-wrapper {
    width: 100%;
    min-height: 100%;
    padding: 0px;
    display: flex;
    justify-items: center;
    align-items: center;
    border: 0;
    border-top: 1px solid #6A6E73;
    align-items: stretch;
    background: #151515;
    color: #fff;
  }
  
  .split {
    display: flex;
    flex-direction: column;
  }
  
  .left {
    min-height: 100%;
    width: 360px;
    border-right: 1px solid #6A6E73;
  }
  
  .right {
    min-height: 100%;
    flex-grow: 1;
  }

  .split.top, .split.bottom {
    flex: 1;
  }

  .split.bottom {
    border-top: 1px solid #6A6E73;
  }
  
  .gutter {
    /* cursor: e-resize; */
    /* background: grey; */
    height: 98%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  
  .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
  }
  .gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
  }
/* Style the tab */

.tab {
    border-bottom: 1px solid #6A6E73;
    border-radius: 0;
    background-color: #151515;
    display: flex;
    flex-direction: row;
  }
  
  /* Style the buttons that are used to open the tab content */
  
  .tab .pf-c-button {
    padding: 14px 16px;
    transition: 0.3s;
    color: #bbb;
    border-right: 1px solid #6A6E73;
    border-radius: 0;
  }
  
  /* Change background color of buttons on hover */
  
  .tab .pf-c-button:hover {
    color: #fff;
  }
  
  /* Create an active/current tablink class */
  
  .tab .pf-c-button.pf-m-active {
    color: #fff;
    text-decoration: underline;
  }
  
  /* Style the tab content */
  
  .tabcontent {
    border: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .app-iframe__inner {
    padding: 0 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .app-iframe__inner .pf-c-button {
    padding-top: var(--pf-c-button--PaddingTop);
    padding-right: var(--pf-c-button--PaddingRight);
    padding-bottom: var(--pf-c-button--PaddingBottom);
    padding-left: var(--pf-c-button--PaddingLeft);
  }