.progress-modal .not-started {
  opacity: 0.5;
}
.progress-modal ul {
  padding: 0 16px;
}
.progress-modal ul > li {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 8px 0;
}
.progress-modal ul > li button {
  text-decoration: underline;
  padding: 0 !important;
}
.progress-header--inner {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #151515 !important;
  text-align: left;
  border-radius: 4px;
  margin: 0 0 !important;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 !important;
  gap: 5%;
  text-decoration: none;
  margin-right: 5% !important;
}