.progress-modal .not-started {
    opacity: 0.5;
}
.progress-modal ul {
    padding: 0 16px;
}
.progress-modal ul > li {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 8px 0;
}
.progress-modal ul > li button {
    text-decoration: underline;
    padding: 0!important;
}